streamlit
huggingface_hub==0.23.5
streamlit-mic-recorder
ipywidgets
tensorflow==2.19.0
tf-keras
streamlit-audiorec
praat-parselmouth
#11/28/2023 debugginh...
#openai
openai==0.28
hugchat==0.2.0
#hugchat==0.1.0
#langchain
scipy
scikit-learn
matplotlib
